body {
	background-color: black;
	color: white;
}

.banner {
	text-align: center;
}

.header {
	text-align: center;
	font-weight: bold;
	color: white;
}

.label {
	text-align: left;
	color: gray;
}

.text-body {
	text-weight: 550;
	color: white;
}

.body {
	margin: 2em;
}