body {
	background-color: black;
	color: white;
}

.banner {
	text-align: center;
}

.header {
	text-align: center;
	font-weight: bold;
	color: white;
	margin: 35px 45px 35px 45px !important;
}

.label {
	text-align: left;
	color: gray;
	font-weight: bold;
	margin: 25px 45px 25px 45px !important;
	font-size: 30px !important;
}

.text-body {
	text-weight: 550;
	color: white !important;
	font-size: 20px !important;
	margin: 25px 45px 25px 45px !important;
}

.title {
	font-size: 75px !important;
	font-weight: bolder;
	text-align: center;
}

.nav-link {
	font-weight: bolder !important;
	font-size: 30px !important;
	margin: 10px 20px 10px 20px !important;
	background-color: rgb(150, 0, 0) !important;
	border-radius: 20%;
	padding: 10px 20px 10px 20px !important;
}

.navbar-brand {
	font-weight: bolder !important;
	font-size: 25px !important;
}

.watermark {
	text-align: center !important;
	color: gray !important;
}

.body {
	margin: 75px !important;
}

.container-fluid {
	margin: 10px 45px 10px 45px !important;
}

.navbar {
	background-color: red !important;
}

.icon {
	width: 15%;
	height: 15%;
	border-radius: 20%;
}